
.beevenue-masonry-sizer {
  width: 32vw;
}

.beevenue-masonry-hidden {
  display: none;
}

.beevenue-masonry-item {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 1em;
  width: 32vw;
}

.beevenue-masonry-item img {
  display: block;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .beevenue-masonry-sizer {
    width: 85vw;
  }
  .beevenue-masonry-item {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 1em;
    width: 85vw;
  }
}


@media screen and (min-width: 1600px) {
  .beevenue-masonry-sizer {
    width: 20vw;
  }
  .beevenue-masonry-item {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 1em;
    width: 20vw;
  }
}