.beevenue-show-page > .card:nth-child(n + 2) {
  margin-top: 1em;
}

.beevenue-sidebar-card {
  flex-grow: 1;
  flex-shrink: 1;
}

.beevenue-h2-link {
  font-size: 80%;
  margin-left: 0.5rem;
}

.beevenue-alias-delete {
  margin-left: 0.25rem;
  vertical-align: baseline;
}

.beevenue-editable-title {
  display: inline-flex;
}

.beevenue-speed-tagger-selected {
  box-shadow: 0 0 0 0.2rem blue;
}

.beevenue-notifications {
  margin-bottom: 1rem;
  max-height: 14rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.beevenue-notifications-dismiss-all {
  display: flex;
  justify-content: flex-end;
}

.notification.beevenue-notification {
  margin-bottom: 0.5rem;
}

.level-item.beevenue-level-item-fullwidth {
  flex-grow: 1;
  flex-shrink: 1;
}
