.beevenue-show-page > .card:nth-child(n+2) {
  margin-top: 1em;
}

.beevenue-sidebar-card {
  width: 100%;
}

.beevenue-h2-link {
  font-size: 80%;
  margin-left: 0.5rem;
}

.beevenue-alias-delete {
  margin-left: 0.25rem;
  vertical-align: baseline;
}

.beevenue-editable-title {
  display: inline-flex;
}