.full-page-spinner {
  height: 100vh;
}

.full-page-spinner-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.full-page-spinner-innermost > div {
  margin-left: auto;
  margin-right: auto;
}

.full-page-spinner-status-retrying {
  visibility: visible;
}

.full-page-spinner-status-none {
  visibility: hidden;
}
